.confirm-message {
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-bold);
}

.confirm-control {
  margin-top: 20px;
  display: flex;
  justify-content: end;
  gap: 20px;
}

.btn-control {
  padding: 6px 12px;
  border-radius: 6px;
  color: var(--color-light);
  cursor: pointer;
  transition: opacity 0.3s linear;
}

.btn-control:hover {
  opacity: 0.8;
}

.btn-confirm {
  background-color: var(--color-success);
}

.btn-cancel {
  background-color: var(--color-dark-gray);
}
