/* Table */
.table-list {
  width: 100%;
  font-size: var(--font-size-md);
  border-spacing: 0 16px;
}

.table-head {
  color: var(--color-gray);
  font-weight: var(--font-weight-medium);
}

.table-head tr th {
  padding: 6px 8px;
  text-align: start;
}

.table-row {
  border-radius: 8px;
  background: var(--color-light);
  border-radius: 8px;
}

.table-row td {
  padding: 14px 8px;
}

.table-row td:first-child {
  border-radius: 10px 0 0 10px;
}

.table-row td:last-child {
  border-radius: 0 10px 10px 0;
}
