.projects-container {
  padding: 0 20px 20px 30px;
  background-color: var(--color-light-smoke);
}

.projects-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68px;
  border-bottom: 1px solid var(--color-light-gray);
}

.projects-header-title {
  font-size: var(--font-size-4xl);
  font-weight: var(--font-weight-bold);
}

.projects-filter-status {
  margin-right: 54px;
  height: 44px;
  border: none;
  outline: none;
  border-right: 16px solid transparent;
}

.status-option {
  background-color: var(--color-light);
}

/* Cell */
.project-logo-img {
  width: 54px;
  height: 54px;
}

.project-manager-img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  vertical-align: middle;
}

.delete-icon {
  display: inline-block;
  width: 17.658px;
  height: 18px;
  background-image: url('../../assets/icons/trash.svg');
}

.edit-icon {
  display: inline-block;
  width: 20.968px;
  height: 19px;
  background-image: url('../../assets/icons/pen.svg');
}

.btn-action {
  cursor: pointer;
}

.btn-action:not(:last-child) {
  margin-right: 36px;
}

.project-name-data {
  color: var(--color-success);
  font-weight: var(--font-weight-medium);
}

.project-name-data:hover {
  text-decoration: underline;
}
