@font-face {
  font-family: 'Montserrat';
  src: url('../../assets/fonts/Montserrat/Montserrat-Regular.woff2');
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../assets/fonts/Montserrat/Montserrat-Medium.woff2');
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../assets/fonts/Montserrat/Montserrat-Bold.woff2');
  font-display: swap;
  font-weight: 700;
}
