/* CSS variables */

:root {
  /* Color */
  --color-primary: #feaf00;
  --color-secondary: #f2eae1;
  --color-light: #fff;
  --color-dark: #000;
  --color-gray: #acacac;
  --color-dark-gray: #6c6c6c;
  --color-light-gray: #e5e5e5;
  --color-soft-gray: #cdcdcd;
  --color-error: #de350b;
  --color-success: #008000;
  --color-soft-blue: #f0f9ff;
  --color-soft-pink: #fef6fb;
  --color-soft-yellow: #fefbec;
  --color-light-smoke: #f8f8f8;
  --color-info: #0000ff;

  /* Font size */
  --font-size-sm: 12px;
  --font-size-md: 14px;
  --font-size-xl: 16px;
  --font-size-2xl: 18px;
  --font-size-3xl: 20px;
  --font-size-4xl: 22px;
  --font-size-5xl: 30px;

  /* Font weight */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}
